body {
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
    max-width: 100%;
    margin: 0;;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 16px;
}

.about_us {
    text-align: center;
    margin-bottom: 2rem;
}

.about_us h1 {
    font-size: 60px;
    font-weight: 800;
    color: #0d0b56;
}

.about_us .underline {
    margin-top: 8px;
    border-top: 4px solid #f1e108;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.vision_mission {
    background-color: #0d0b56;
    box-shadow: 0 4px 6px rgba(235, 250, 22, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 32px;
    max-width: 100%;
    width: 900px;
    margin-left: 300px;
    transition: transform 0.3s ease;
}
.vision_mission:hover {
    transform: scale(1.1);
    z-index: 1;
}

.vision_mission .content {
    display: flex;
    align-items: center;
    padding: 25px;
}

.vision_mission .content img {
    border-radius: 9999px;
    margin-left: auto;
    margin-right: auto;
}

.vision_mission .content .text {
    padding-left: 24px;
    width: 66.666667%;
}

.vision_mission .content .text h2 {
    font-size: 20px;
    font-weight: 700;
    color: #f1e108;
}

.vision_mission .content .text p {
    color: #ffffff;
    margin-top: 8px;
}

/*team member card*/

.title h1
{
    margin-bottom: -50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 60px;
}
.team-member-card
{
    max-width: 950px;
    max-width: 100%;
    padding: 80px 0;;
}
.team-member-card .main-card{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    transition: 1s;
}
.team-member-card .main-card .cards
{
    max-width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ensure cards are centered */
    margin: 20px 0px;
    /*margin : 20px 0px 75px -500px;
    justify-content: space-between;*/
}
.main-card .cards .card{
    width: 40px;
    margin: 15px;
    background-color: #0d0b56;
    border-radius: 12px;
    padding: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}
.main-card .cards .card:hover{
    transform: translateY(-15px);
}
.cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.cards .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #e0f401;
    margin-bottom: 14px;
}
.card .content .img img{
    height: 100%;
    width: 100%;
    border: 3px solid #0d0b56;
    border-radius: 50%;
    object-fit: cover;
}
.card .content .name{
    font-size: 20px;
    font-weight: 500;
}
.card .content .job{
    font-size: 20px;
    color: #e0f401;
}
/*footer*/
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
    background-color:#0d0b56;
    padding: 5px;
}

ul{
    list-style: none;
}

.footer-col{
    width: 30%;
    margin-left: 40px;
    
}

.footer-col h4{
    position: relative;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    color: #dec213;
    text-transform: capitalize;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: aqua;
    height: 2px;
    width: 40px;
}
.footer-col p{
    font-size: 12px;
    text-transform: capitalize;
    color:#bbbbbb;
    padding: 2px;
}

.footer-col ul li::not(:last-child){
    margin-bottom: 8px;
}

.footer-col ul li a{
    padding: 4px;
    display: block;
    font-size: 12px;
    text-transform: capitalize;
    color:#bbbbbb;
    text-decoration: none;
    transition: 0.4s;
}

.footer-col ul li a:hover{
    color:white;
    padding-left: 7px;
}
.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color:white;
    background-color: #c0a80c;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}
.links a i{
    padding: 15px;
}

.links a:hover{
    color: #4d4f55;
    background-color:white;
}
.contact-img{
    width: 15px;
    color:white;
}

@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer-col h4::before{
        all:unset;
}
}

@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}
