.search-button:hover {
    background-color: #F2C464; /* Hover background color */
  }
  
  .search-button i {
    margin-right: 5px; /* Add some space between icon and text */
  }
.logout-side{

    margin-right: 15px;
}
.logout-side .logout-label {
    color: white; 
    text-decoration: none; 
    letter-spacing: 2px;
    transition: 0.5s; 
    text-align: center;
}

.logout-side .logout-label:hover {
    color: red; /* Changes color to red on hover */
    padding: 10px; /* Adds padding on hover */
    transition: 0.5s; /* Transition effect for color and padding */
}
.logout-side .profile{

    align-items: center;
}


.logo {
    width: 120px;
    cursor: pointer;
    margin-left: 50px;
}


.navbar {
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d0b56;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.search-button {
    background-color: #F7DC6F;
    color: #333; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
  }